<h1>Whoa</h1>

<%= form_tag({controller: "products", action: "add"}, method: "post") do %>
  <%= label_tag %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>

<% if @products %>
  <%=  @products.each do |p| %>
    <p><%= p %></p>
  <% end %>
<% end %>
